.bannner-PicBox {
    width: 100%;
    height: 200px;
    background-image: url('../images/blue-g0126102fa_1280.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.body.main {
    width: 100%;
    height: 1000px;
    background-color: rgb(241, 235, 235);
}
