
.bannner-PicBox {
    width: 100%;
    height: 200px;
    background-image: url('../images/blue-g0126102fa_1280.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main-PicArea {
    width: 100%;
    height: 240px;
    background-color: rgb(241, 235, 235);
    display: flex;
    justify-content: center;
}
.bottomTable {
    width: 100%;
    height: auto;
    background-color: rgb(241, 235, 235);
    display: flex;
    justify-content: center;
}
.EventTable {
    border-top: 2px solid rgb(16, 9, 112);
    width: 95%;
    text-align: center;
    background-color: white;
}
.EventTable th, td {
    padding: 10px;
    vertical-align: center;
    text-align: center;
    border-bottom: 15px solid rgb(241, 235, 235);
}
.EventTable th {
    font-size: 12px;
    color: rgb(172, 163, 163);
}
.EventTable th:nth-child(3), .EventTable th:nth-child(4) {
    width: 35%;
}
.EventTable th:nth-child(6) {
    width: 10%;
}
.bottomCreateText{
    width: 100%;
    height: 300px;
    background-color: rgb(241, 235, 235);
}
.createTextbutton {
    margin-top: 100px;
    float: right;
}
.BodyArea {
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 235, 235);
    height: 700px;
}

.textTitle {
    float: left;
    margin: 50px 0 0 50px;
}
.eventDate {
    float: left;
    margin: 50px 0 0 50px;
}
.bodyText {
    float: left;
    margin: 50px 0 0 50px;
}
#bodyTextId {
    width: 1000px;
    margin-left: 65px;
}
#finButton {
    float: right;
}
