.RankTable {
    width: 90%;
    border: 1px solid rgb(209, 199, 199);
    margin: 0 auto;
}
.RankTable th, td {
    padding: 10px;
    vertical-align: center;
    text-align: center;
}
.RankHeadTable {
    background-color: gray;
}
.backArea {
    background-color: white;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
img {
    width: 48px;
    height: 48px;
}