.bannner-PicBox {
    width: 100%;
    height: 200px;
    background-image: url('../images/blue-g0126102fa_1280.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.body-Area {
    width: 100%;
    height: 1000px;
    background-color: rgb(241, 235, 235);
}
.body-table{
    width: 100%;
    height: auto;
    background-color: rgb(241, 235, 235);
    display: flex;
    justify-content: center;
}
.tableArea {
    border-top: 2px solid rgb(16, 9, 112);
    width: 95%;
    text-align: center;
    background-color: white;
}
.tableArea th, td {
    padding: 10px;
    vertical-align: center;
    text-align: center;
    border-bottom: 15px solid rgb(241, 235, 235);
}
.tableArea th {
    font-size: 12px;
    color: rgb(172, 163, 163);
}
.tableArea th:nth-child(1) {
    width: 10%;
}
.tableArea th:nth-child(2) {
    width: 50%;
}
.tableArea th:nth-child(3) {
    width: 30%;
}
.tableArea td:nth-child(2) {
    float: left;
    font-weight: bold;
    cursor: pointer;
    
}
.txt {
    background-color: blue;
    color: white;
    border: 3px solid blue;
    font-size: 12px;
    font-weight: bolder;
}
