* {
  height: auto;
}

.header-minbar {
  width: 100%;
  height: 25px;
  background-color: rgb(241, 235, 235);
  margin: 0 auto;
  padding: 0;
  text-align: right;
}
.header-bar{
  display: flex;
  justify-content: space-between;
  /* background-color: white; */
}
.team-logo{
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: flex-end;
}
.header-menubar {
  width: 100%;
  height: 32px;
  background-color: rgba(0, 0, 255, 0.801);
  position: sticky;
  top: 0;
  z-index: 100;
}
.menu::after {
  clear: both;
  display: block;
  content: '';
}
.fixed-menu {
  list-style-type: none;
  color: white;
  line-height: 2rem;
  width: 100%;
  height: 32px;
  margin: 0;
  z-index: 100;
  padding-left: 0;
}
.menu {
  list-style-type: none;
  padding-left: 10px;
  color: white;
  line-height: 2rem;
  width: 100%;
  height: 32px;
  margin: 0;
  z-index: 100;
}
.menu>li {
  width: 8rem;
  height: 32px;
  float: left;
}
.fixed-menu>li {
  width: 8rem;
  height: 32px;
  float: left;
}
.menu:hover .down-menu{
  visibility: visible;
  opacity: 1;
}
.menu:hover {
  height: 432px;
  background-color: rgba(0, 0, 255, 0.801);
  width: 100%;
}
.down-menu {
  list-style-type: none;
  padding-left: 0;
  width: 20%;
  height: 400px;
  z-index: 100;
  color: white;
  opacity: 0;
  visibility: hidden;
  padding-left: 0;
}

.eventBanner {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.mid-site{
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: row;
  background-color: rgb(241, 235, 235);
}
.aside-left{
  width: 30%;
}
.aside-right {
  width: 70%;
}
.rankTextbar {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.rankTextbar p {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}
.ballImage {
  width: 50px;
  height: 30px;
  background-image: url('./images/축구공.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 15px;
}
.newsTextbar {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.newsTextbar p {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}
.infoText {
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
}





